[Unit]
Description=Fix for Telcel DNS blocking
BindsTo=sys-subsystem-net-devices-usb0.device
After=sys-subsystem-net-devices-usb0.device
[Service]
ExecStartPre=ip link set usb0 up
ExecStartPre=dhclient usb0
ExecStart=$PWD/forward.py
ExecStopPost=dhclient -x usb0
Restart=always
[Install]
WantedBy=multi-user.target
